doctype html
html
  head
    meta(charset='utf-8')
    title Pop Art Puzzle
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    
    h1#Start Click a Square to Start!
    table#board
      tr
        td#box1 
        td#box2 
        td#box3 
      tr
        td#box4
        td#box5
        td#box6
      tr
        td#box7
        td#box8
        td#box9
      tr
        td#box10
        td#box11
        td#box12
          
      input#cheat(type='button', value='Cheat' width: 60px; height: 30px;)


    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
